.gv-search {
//   .gv-glass {
//     background: url("https://hocmai.vn/home_page/giaovien/images/gv-search.png")
//       no-repeat;
//     width: 22px;
//     height: 22px;
//     display: inline-block;
//     float: left;
//     left: 0px;
//     position: absolute;
//     top: 10px;
    
//     margin-left: 12px;
//   }
  .gv-search-input {
    width: 265px;
    height: 41px;
    border: 1px solid #bbbbbb;
    font-size: 14px;
    padding-left: 12px;
    color: #505050;
  }
  .gv-search-btn {
    width: 84px;
    height: 41px;
    background: #0871b9;
    font-size: 14px;
    border: none;
    margin-left: -3px;
    color: white;
  }
}
