.td-cl {
  color: var(--blue);
  text-decoration: none;
  //   font-weight: 500;
}
.detail-header {
  color: #434343;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
}
.content-wr {
  .content {
    &-title {
      color: #6b6b6b;
      font-size: 22px;
      font-weight: normal;
      margin: 20px 0 15px;
      text-transform: uppercase;
    }
    &-description {
      font-size: 16px;
      font-weight: 300;
      margin: 10px 0;
    }
  }
  // .sidebar-second {
  justify-content: flex-end;
  // }
  .block-course-info {
    width: 90%;
    margin: 0 auto;
    &-title {
      color: var(--blue);
      font-size: 20px;
      font-weight: 500;
      margin: 0 0 15px;
      text-align: center;
    }
    &-price {
      color: #ff7e00;
      font-family: "Roboto Condensed", "Roboto", Tahoma, sans-serif;
      font-size: 28px;
    }
    .reg-decrease {
      cursor: pointer;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      height: 35px;
      line-height: 35px;
      margin: 0 auto 12px;
      text-transform: uppercase;
      width: 200px;
      background: #ff6c00 none repeat scroll 0 0;
    }
    .course-register-now {
      background-color: white;
      color: var(--blue);
      border: 1px solid var(--blue);
    }
    .course-info-description {
      font-size: 15px;
      .course-info-stitle {
        color: var(--blue);
        margin: 10px 0 -10px !important;
      }
      .course-info-list {
        list-style: outside none square;
        margin: 10px 0;
        padding-left: 1.5em;
      }
    }
  }
}

.course-description {
  &-title {
    color: #505050;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  .course-detail-stitle {
    border-bottom: 1px solid var(--blue);
    color: #505050;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px;
    .name {
      background: var(--blue) none repeat scroll 0 0;
      color: #fff;
      display: inline-block;
      line-height: 30px;
      padding: 0 15px;
    }
  }
  .topic-right-name {
    background: #e6e6e6 none repeat scroll 0 0;
    border-bottom: 1px solid #d5d4d4;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 20px 13px 10px !important;
  }
  .learn-outline-section {
    padding: 0;
    margin: 0;
    cursor: pointer;
    .learn-outline-item {
      color: #868686;
      border-bottom: 1px solid #d5d4d4;
      margin: 0;
      padding: 0;
      padding-left: 30px;
      list-style-type: none;
      .scorm-right-name {
        font-size: 13px;
        font-weight: 500;
        margin: 0 0 10px;
      }
      &:hover {
        background-color: #f1f1f1;
        color: #464646;
      }
    }
  }
}

.relate-course {
  background: #f5f5f5 none repeat scroll 0 0;
  box-shadow: -1px 2px 2px 0 rgb(216 216 216 / 75%);
  font-size: 12px;
  margin: 0 0 15px;
  padding: 10px 8px;
  cursor: pointer;
  &-image {
    float: left;
    margin: 0 10px 10px 0;
    width: 150px;
  }
  .relate-course-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    min-height: 5em;
    text-transform: uppercase;
    a {
      color: #6e6e6e;
    }
  }
}
