.form-change-password {
  width: 500px;
  margin: auto;
  background-color: rgb(248, 248, 248);
  padding: 20px;
  .btn-fill {
    color: white;
    background-color: rgb(94, 179, 228);
  }
  .pull-right {
    width: 120px;
  }
  .form-group {
    position: relative;

    .title {
      margin: 5px 0;
      font-weight: 500;
      color: #9b9a9a;
    }
    .field-input {
      color: #808080;
      width: 100%;
      border: 1px solid #ececec;
      box-shadow: 2px 2px 2px #dfdfdf;
      padding: 3px 10px;
      border-radius: 5px;
      outline: none;
    }
    .formError {
      position: absolute;
      top: 65px;
      left: 2px;
      font-size: 13px;
      color: red;
    }
  }
}
