@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 996px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
}

body {
  min-height: 100%;
  width: 100%;
  min-width: 800px;
  color: #444;
  font-weight: 500;
  background-color: #fff;
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555 !important;
  text-align: left;
  background-color: #f8f8f8;
  @media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1300px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media (min-width: 1300px) {
    .container {
      max-width: 1300px;
      margin: 0 24.5px;
    }
  }
  @media (min-width: 1500px) {
    .container {
      max-width: 1300px;
      margin: auto;
    }
  }
  @media (max-width: 995px) {
    .container {
      padding: 0px;
      margin: 0 10px;
      max-width: 975px;
    }
  }
}
