.main {
  margin-bottom: 50px;
  height: inherit;
  .course-slider{
    margin-bottom: 10px !important;
  }
}

.box-title {
  border-left: 5px solid #28b1ff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-left: 15px;
  color: #3a3a3a;
}

.box-thumb {
  width: calc((((100% - 40px) / 5) * 2) + 16px ) !important;
  margin-right: 10px;
    // height: 237px;
  .box-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 4px rgb(44 71 146 / 15%);
    img {
      margin: auto;
      width: 100%;
      height: auto;
    }
  }
}

.box-new {
  width: calc((((100% - 40px) / 5) * 3) + 24px) !important;
  // height: 342px;
}


//CARD
.wrap-card {
  height: 100%;
  // background-color: #28b1ff;
  .item-course {
    // max-height: 323px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 4px rgb(44 71 146 / 15%);
    box-shadow: 0px 3px 4px rgb(44 71 146 / 15%);
    background: #fff;
    // min-height: 237px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    border: solid 1px rgba(0, 0, 0, 0.1);
    .course-image-wr {
      position: relative;
      .icon-hot {
        text-transform: uppercase;
        background-color: #fd2626;
        position: absolute;
        width: 34px;
        height: 18px;
        font-size: 9px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 1;
        .course-img {
          display: block;
          width: 100%;
          overflow: hidden;
          max-height: 155px;
          height: 155px;
          // width: 255px;
          img {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 5px;
            width: 100% !important;
            -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
          }
        }
      }
    }
  }
  .course-info {
    padding: 9px 15px;
    // padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* height: 85px; */
    position: relative;
    /* margin-top: 16px; */
    flex: 1;
    font-weight: 500;

    .course-name {
      min-height: 40px !important;
      margin-bottom: 20px !important;
      line-height: 1;
      a {
        line-height: 20px !important;
        font-size: 16px;
        color: #444;
        font-weight: 700;
        max-height: 50px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        // line-height: 25px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-decoration: none;
        background-color: transparent;
      }
    }
    .course-teachers {
      line-height: 16px !important;
      font-size: 12px;
      max-height: 32px;
      min-height: 32px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      margin-bottom: 8px;
      transition: 0.2s ease;
      a {
        text-decoration: none;
        background-color: transparent;
        color: #28b1ff;
        font-size: 11px;
      }
    }
    .course-scorms {
      bottom: 17px;
      margin-bottom: 10px;
      /* margin-top: 0; */
      flex: 1;
      .course-fee {
        margin-bottom: 0;
        font-size: 10px;
        color: #888888;
        margin-top: 0;
        span{
          color: #28b1ff;
        }
      }
    }
  }
}

// @media (max-width: 1400px) {
//   .row.no-mg.course-slider {
//     height: 296px;
//   }
// }
// @media (max-width: 1450px) {
//   .row.no-mg.course-slider {
//     height: 323px;
//   }
// }
// @media (max-width: 1500px) {
//   .row.no-mg.course-slider {
//     height: 323px;
//   }
// }
// @media (max-width: 1920px) {
//   .row.no-mg.course-slider {
//     height: 335px;
//   }
// }
// @media (min-width: 800px) {
//   .row.no-mg.course-slider {
//     height: 280px;
//   }
// }
// .row.no-mg.course-slider {
//   position: relative;
// }
